<header class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
          {% if site.logo %}
            <img src="{{ site.logo }}" alt="Logo" style="height:40px; display:inline-block; vertical-align:middle;">
          {% endif %}
        </a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
      </nav>
    </div>
  </div>
</header>
