---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <!-- favicon -->
    <link rel="icon" type="image/png" href="https://cdn.jsdelivr.net/gh/8CH6/picgo/img/plogo2_%E7%94%BB%E6%9D%BF%201.png">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/8CH6/picgo/img/plogo2_%E7%94%BB%E6%9D%BF%201.png" type="image/png">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<script>
  // 根据图片宽高给 work-item 加 class
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".work-item img").forEach(img => {
      function setClass() {
        const item = img.closest(".work-item");
        if (!item) return;
        if (img.naturalWidth > img.naturalHeight) {
          item.classList.add("landscape");
        } else {
          item.classList.add("portrait");
        }
      }
      if (img.complete) {
        setClass();
      } else {
        img.onload = setClass;
      }
    });
  });
</script>
